<form [formGroup]="tableForm">
    <table class="border-2 border-zinc-300">
        <thead>
            <tr>
                <th *ngFor="let header of headers" class="border font-sans w-20 bg-white border-b-2 border-b-zinc-300 first:border-r-2 first:border-r-zinc-300 last:border-l-2 last:border-l-zinc-300">
                    <div *ngIf="header !== 'VF'; else weaponSkillChoice">
                        {{header}}
                    </div>
                    <ng-template #weaponSkillChoice>
                        <div *ngIf="this.weaponSkill == ''; else nameOfSkill">
                            {{header}}
                        </div>
                        <ng-template #nameOfSkill>
                            {{this.weaponSkill}}
                        </ng-template>
                    </ng-template>

                    
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container formArrayName="Rows">
                <tr *ngFor="let level of tableFormArr.controls; let i = index; let l = last" 
                [formGroupName]="i"
                class="p-1 border bg-white">
                    <td *ngFor="let attribute of Object.keys(level.value)" class="border first:border-r-2 first:border-r-zinc-300 last:border-l-2 last:border-l-zinc-300">
                    
                        <!-- Level and placedPoints-->
                        <input *ngIf="attribute === 'level' || attribute === 'placedPoints'" 
                        class="w-20 px-1 font-medium text-center" 
                        [id]="attribute" 
                        [formControlName]="attribute"
                        readonly>
                        
                        <!-- The other attributes-->
                        <input *ngIf="attribute !== 'level' && attribute !== 'placedPoints'" 
                        type="text"
                        class="w-full font-light" 
                        [id]="attribute" 
                        [formControlName]="attribute"
                        onlyNumber>
                    </td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot>
            <tr class="p-1 border-2 border-zinc-300 bg-white text-center">
                <td *ngFor="let attribute of Object.values(total)" class="border px-1 font-medium bg-white first:border-r-2 first:border-r-zinc-300 last:border-l-2 last:border-l-zinc-300">
                    {{attribute}}
                </td>
            </tr>
            <tr class="p-1 border-2 border-zinc-300 bg-white text-center">
                <td *ngFor="let attribute of Object.values(totalWithRaceBonus)" class="border px-1 font-medium bg-white first:border-r-2 first:border-r-zinc-300 last:border-l-2 last:border-l-zinc-300">
                    {{attribute}}
                </td>
            </tr>
        </tfoot>
    </table>
</form>
